<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조회 성공</title>
</head>
<body>
    <h1>회원 정보</h1>
    
    <table>
        <tr>
            <th>회원 번호</th>
            <th>회원 아이디</th>    
            <th>회원 이름</th>
            <th>회원 나이</th>
        </tr>
        <tr>
            <th th:text="*{userNo}">내용</th>
            <th th:text="*{userId}">내용</th>
            <th th:text="*{userName}">내용</th>
            <th th:text="*{userAge}">내용</th>
        </tr>

    </table>
</body>
</html>