
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 141.8rem;
}.item--uzg {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}




.item--uzg .review-W2k {
  margin-right: 2.4rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #66b97e;
  font-family: Gmarket Sans TTF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x {
  box-sizing: border-box;
  padding: 4.7rem 0.6rem 6.6rem 2.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-zt3v-9bW {
  margin-bottom: 6.2rem;
  width: 138.6rem;
  height: 0.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-m9xl-U7z {
  margin: 0rem 32rem 2.8rem 25.1rem;
  width: calc(100% - 57.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-m9xl-U7z .item--Bo6 {
  margin: 0rem 9.1rem 0.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: Gmarket Sans TTF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-m9xl-U7z .rectangle-10-hWY {
  width: 70.4rem;
  height: 5.3rem;
  background-color: #f5f5f5;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-p3h2-Qvk {
  margin: 0rem 31.3rem 3.3rem 25.1rem;
  width: calc(100% - 56.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-p3h2-Qvk .item--XkU {
  margin: 0rem 9.8rem 0.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: Gmarket Sans TTF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-p3h2-Qvk .rectangle-11-eKJ {
  width: 70.4rem;
  height: 5.3rem;
  background-color: #f5f5f5;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ {
  margin: 0rem 32.4rem 4.6rem 25.1rem;
  width: calc(100% - 57.5rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .item--3sE {
  margin: 0rem 9.8rem 0.1rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: Gmarket Sans TTF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .item--Msv {
  margin: 0rem 1.8rem 0.1rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: Gmarket Sans TTF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-1-Gzt {
  margin-right: 0.6rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-2-DfE {
  margin-right: 0.4rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-3-MmS {
  margin-right: 0.6rem;
  width: 2.9rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-4-hKW {
  margin-right: 0.6rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-5-dix {
  margin-right: 4.4rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .item--aeC {
  margin: 0rem 1.8rem 0.1rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: Gmarket Sans TTF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-6-J4Q {
  margin-right: 0.6rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-7-ETr {
  margin-right: 0.4rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-8-kh6 {
  margin-right: 0.6rem;
  width: 2.9rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-9-tYQ {
  margin-right: 0.6rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-10-dVz {
  margin-right: 4.6rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .item--m6Q {
  margin: 0rem 3rem 0.1rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: Gmarket Sans TTF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-11-fxU {
  margin-right: 0.4rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-12-cMv {
  margin-right: 0.6rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-13-Xzg {
  margin-right: 0.6rem;
  width: 2.9rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-14-TtL {
  margin-right: 0.5rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-q5di-NFJ .star-15-CL8 {
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-wbg4-LBS {
  margin: 0rem 31.3rem 3.1rem 21.6rem;
  width: calc(100% - 52.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-wbg4-LBS .item--rQg {
  margin: 0rem 8.5rem 0.3rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: Gmarket Sans TTF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-wbg4-LBS .rectangle-12-jUU {
  width: 70.4rem;
  height: 5rem;
  background-color: #f5f5f5;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-fjet-GUQ {
  margin: 0rem 31.3rem 4rem 24.3rem;
  width: calc(100% - 55.6rem);
  height: 15.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-fjet-GUQ .item--NnL {
  margin: 1.3rem 9.7rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: Gmarket Sans TTF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-fjet-GUQ .auto-group-ozww-h3v {
  box-sizing: border-box;
  padding: 1.6rem;
  width: 70.4rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #000000;
  font-family: Gmarket Sans TTF, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #f5f5f5;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-sv4u-yGL {
  margin: 0rem 53.9rem 4rem 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-sv4u-yGL .item--VkU {
  margin-right: 9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #000000;
  font-family: Gmarket Sans TTF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-sv4u-yGL .item-10--Cun {
  margin-right: 6.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a3a3a3;
  font-family: Gmarket Sans TTF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .auto-group-sv4u-yGL .frame-4-hrY {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.3rem 1.5rem 0rem 1.5rem;
  width: 9.2rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #66b97e;
  font-family: Gmarket Sans TTF, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #eeeeee;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--uzg .auto-group-n992-e8x .frame-5-Zdr {
  margin: 0rem 58.7rem 0rem 56.6rem;
  width: calc(100% - 115.3rem);
  height: 5.2rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gmarket Sans TTF, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #66b97e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
