.auto-group-hmp1-Yyb {
  background-color
  : 
  #f5f5f5;
  border-radius
  : 
  0.5rem;
  box-sizing
  : 
  border-box;
  flex-shrink
  : 
  0;
  height
  : 
  calc(100% - 2.9rem);
  margin
  : 
  1.4rem 5.2rem 1.5rem 0rem;
  padding-left
  : 
  24.5rem;
  width
  : 
  28.7rem;
  }

  .auto-group-hmp1-Yyb {
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    box-sizing: border-box;
    flex-shrink: 0;
    height: calc(100% - 2.9rem);
    margin: 1.4rem 5.2rem 1.5rem 0rem;
    padding-left: 24.5rem;
    width: 28.7rem;
  
    .rectangle-16-dEM {
      background-color: #f1c93b;
      border-radius: 0.5rem;
      height: 3.9rem;
      width: 100%;
    }
  }