code{
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightblue;
  font-family: 'D2Coding';
  white-space: pre-wrap; /* 내용을 작성된 형태 그래도 출력 */
  display: block;
}

.important{
  color: red;
  font-size: 40px;
}
